<%=form_for @student do |f|%>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@student.errors.count, "error") %> prohibited
        this student from being saved:
      </h2>
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%=f.text_field :first_name, placeholder: "First Name"%><br><br>
  <%=f.text_field :middle_name, placeholder: "Middle Name"%><br><br>
  <%=f.text_field :last_name, placeholder: "Last Name"%><br><br>
  <%=f.text_field :mother_name, placeholder: "Mother Name"%><br><br>
  Birth Date:- <%=f.date_field :date_of_birth%><br><br>
  Gender:-<br>
  Male<%=f.radio_button :gender, "Male"%>
  Female<%=f.radio_button :gender, "Female"%>
  Transgender<%=f.radio_button :gender, "Transgender"%><br><br>
  <%=f.text_field :aadhaar_card_number, placeholder: "Aadhaar Card Number"%><br><br>
  State:- <%=f.collection_select :state, State.all, :id, :name %><br><br>
  District:- <%=f.collection_select :district, District.all, :id, :name %><br><br>
  Taluka:- <%=f.collection_select :taluka, Taluka.all, :id, :name %><br><br>
  <%=f.text_field :town, placeholder: "Town Name"%><br><br>
  Is Handicap:- <%=f.check_box :is_handicap%><br><br>
  <%=f.text_area :handicap_details, placeholder: "Handicap Details"%><br><br>
  Is Active:- <%=f.check_box :is_active%><br><br>
  <%=f.submit%>
  <%=link_to "Back", students_path%>
<%end%>