<%=form_for :login, url: login_path do |f|%>
  <body style= "background: linear-gradient(180deg, blue, lightgreen">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-4">
            <div class="card-body">
              <h5 class="card-title text-center">Sign In</h5>

              <form class="form-signin">
                <div class="form-label-group">
                  <%=f.text_field :username, placeholder: "Username", class: "form-control", placeholder: "Email address", required: :autofocus%><br>
                </div>

                <div class="form-label-group">
                  <%=f.password_field :password, placeholder: "Password", id: "inputPassword", class: "form-control", placeholder: "Password", required: true%><br>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <%=f.submit "login", class: "btn btn-lg btn-primary btn-block text-uppercase"%>
                <hr class="my-4">
                <%=link_to "SIGN IN WITH GOOGLE", '', class: "btn btn-lg btn-google btn-block text-uppercase"%>
                <i class="fab fa-google mr-2"></i>
                <%=link_to "SIGN IN WITH FACEBOOK", '', class: "btn btn-lg btn-facebook btn-block text-uppercase"%>
                <i class="fab fa-facebook-f mr-2"></i>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

<%end%>