<table class="table table-hover" style="margin-top: -524px;">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Full Name</th>
      <th>Action</th>
    </tr>
    <tbody>
      <%@students.each do |student|%>
        <tr>
          <td><%=student.last_name%></td>
          <td><%=student.first_name%></td>
          <td><%=student_full_name student%></td>
          <td><%=link_to "Edit", edit_student_path(student), class: "btn btn-success"%></td>
          <td><%=link_to "Add Address", new_address_path(user: student.user.id), class: "btn btn-warning"%></td>
        </tr>
      <%end%>
    </tbody>
  </thead>
</table>