<h1>Welcome to new page</h1>

<h3><%= link_to "Add New Standard", new_standard_path %></h3>
<h3><%=link_to "New Classroom", new_classroom_path%></h3>
<h3><%=link_to "New Teacher", new_teacher_path%></h3>
<h3><%=link_to "New Student", new_student_path%></h3>

<%#= render "welcomes/index?user=#{@user.id}"%>

<h1><%= link_to "LogOut", logout_path, method: :delete %></h1>
<% if @current_user_role == "Headmaster"%>
  <%= render "welcomes/dashboard_headmaster"%>
<% elsif @current_user_role == "Teacher"%>
  <%= render "welcomes/dashboard_teacher"%>
<% else @current_user_role == "Student"%>
  <%= render "welcomes/dashboard_student"%>
<% end%>